body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins'sans-serif;
    color: #1e1e2A; 
}

html{
    scroll-behavior: smooth;
}
/*Headear*/
.header-container {
    height: 80vh;
    width: 100vw;
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

/*area menu*/

.area-menu{
    padding: 10px 50px;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: space-between ;
    background-color: yellow;
    font-family: 'Roboto', sans-serif ;
    width: 100%;
    height: 120px;
}
 
.area-menu > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-menu a{
    text-decoration: none;
    color:#1e1e2A;
    margin: 5px;
    padding: 8px 12px;   
    border-radius: 10%;
    transition: 300ms;
    
   
}

.area-menu a:hover{
    text-decoration: none;     
}
.icone{

    width: 125px;
    position: relative;
    z-index: 1;
   
}

.icone svg{
    position: absolute;
    top:0px;
    transition: 300ms;
}
.icone svg:hover{
    opacity: 0;
}

/*fim area menu*/
.fade-active{
    animation: 3000ms fade;
}
@keyframes fade{
0%{
    opacity: 0;
    transform: translateY(-50%);
}
100%{
    opacity: 1;
    transform: translateY(0);
}

}
.profile-image {
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    margin-right: 20px;
}

.profile-image img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

.header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0; /* Adiciona isso para remover margens padrão */
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0; /* Adiciona isso para remover margens padrão */
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1e1e2A;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

a:hover{
    background: black;
    color: yellow;
}
/*menu*/

/*Sobre mim e tecnologias*/

.sobre-mim{
    margin: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif ;
    
    
}

.sobre  {
    flex: 1;
    margin-bottom: 50px;
    margin-right: 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hobbies {
    margin-bottom: 50px; 
}

.tecnologia {
    margin-bottom: 50px; 
}

.linha{
    height: 1px; 
    width: 30%; 
    background-color: black;
    margin-top: 50px; 
}

/*card*/

.card-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./imagens/projeto\ 1\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-link > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-link > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
/*card 2*/

.card-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
   
}

.card-container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card2 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./imagens/projeto2\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text2 {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper2::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper2 h2 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper2 p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card2:hover {
    filter: unset;
}

.card2:hover > .card-link > .card-wrapper2::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card2:hover > .card-link > .card-wrapper2 p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
.img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}


.footer{
    width: 100%;
    height: 100px;
    background: yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #1e1e2A;
    margin: 30px 0 0 0;
    font-family: 'Roboto', sans-serif ;
    padding: 10px;
}

@media (max-width: 768px) {
    .header-container {
        padding: 0 20px;
    }
    .card, .card2 {
        width: 200px;
        height: 200px;
    }
    .card-wrapper::before, .card-wrapper2::before {
        height: 150px;
        width: 150px;
    }
    .card-wrapper h2, .card-wrapper2 h2 {
        font-size: 24px;
    }
    .social-media a {
        padding: 0.5rem 1rem;
        margin: 0.25rem;
    }
    .sobre-mim {
        margin: 20px 10px;
    }
}
@media (max-width: 480px) {
    .header-container {
        padding: 0 10px;
    }
    .profile-image {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
    .header h1 {
        font-size: 28px;
        letter-spacing: 2px;
    }
    .header h2 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .social-media a {
        padding: 0.5rem 0.5rem;
        font-size: 14px;
    }
    .sobre-mim {
        margin: 20px 5px;
    }
    .sobre {
        flex-direction: column;
        margin-right: 0;
    }
    .card, .card2 {
        width: 150px;
        height: 150px;
        
    }
    .card-wrapper::before, .card-wrapper2::before {
        height: 100px;
        width: 100px;
        
    }
    .card-wrapper h2, .card-wrapper2 h2 {
        font-size: 18px;
    }
    .card-wrapper p, .card-wrapper2 p {
        font-size: 12px;
    }
    .card-container, .card-container2 {
        flex-direction: column;
    }
    .footer {
        height: auto;
        padding: 40px 0;
        font-size: 14px;
        margin: 10px;
    }

}

@media (max-width: 1200px){
    .header-container{
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 1200px){
    .card-container{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 1200px){
    .card-container2{
        flex-direction: column;
        gap: 20px;
    }
}
